#menu {
  background-color: rgb(80, 80, 120);
html, body {
  margin: 0;
  padding: 0;
  width: fit-content;
  position: absolute;
  /* position: fixed; */
  height: 100%;
  overflow-y: auto;
  z-index: 1;
}