html, body {
  margin: 0;
  padding: 0;
}

div#root {
  display: grid;
  grid-template-rows: auto 1fr auto; /* nav - main - footer */
  min-height: 100vh;
}

nav#top-navigation-bar {
  padding: 1rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: purple;
  border-bottom: 1rem solid black;

  * {
    margin: 0;
  }

  button {
    box-sizing: border-box;
    width: 2rem;
    aspect-ratio: 1;
  }
}

main {
  position: relative
}

aside#menu {
  width: fit-content;
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  background-color: rgb(80, 80, 120);
}

#checklist {
  width: 60%;
  margin: 0 auto; /* horizontally centered */
  min-height: 100%;
  background-color: red;
div.row-container, div.column-container {
  display: flex;
  gap: 1rem;
  * {
    margin: 0; /* gap used instead of margin */
  }
}
div.row-container {
  flex-flow: row wrap;
  justify-content: center;
}
div.column-container {
  flex-flow: column nowrap;
  align-items: center;
}

#visualizer {
  div.day {
    padding: .25rem;
    border: 1px solid black;
  }

  .checked {
    color: green;
  }
  .unchecked {
    color: red;
  }
}

footer {
  background-color: black;
}