html, body {
  margin: 0;
  padding: 0;
}
aside#menu {
  width: fit-content;
  height: 100%;
  overflow-y: auto;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  background-color: rgb(80, 80, 120);
}

footer {
  background-color: black;
}